[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AbuseFilter
	branch = REL1_39
[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CategoryTree
	branch = REL1_39
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cite
	branch = REL1_39
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CiteThisPage
	branch = REL1_39
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeEditor
	branch = REL1_39
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ConfirmEdit
	branch = REL1_39
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Gadgets
	branch = REL1_39
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ImageMap
	branch = REL1_39
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/InputBox
	branch = REL1_39
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Interwiki
	branch = REL1_39
[submodule "extensions/Math"]
	path = extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
	branch = REL1_39
[submodule "extensions/MultimediaViewer"]
	path = extensions/MultimediaViewer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MultimediaViewer
	branch = REL1_39
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
	branch = REL1_39
[submodule "extensions/OATHAuth"]
	path = extensions/OATHAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OATHAuth
	branch = REL1_39
[submodule "extensions/PageImages"]
	path = extensions/PageImages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PageImages
	branch = REL1_39
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ParserFunctions
	branch = REL1_39
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PdfHandler
	branch = REL1_39
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Poem
	branch = REL1_39
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Renameuser
	branch = REL1_39
[submodule "extensions/ReplaceText"]
	path = extensions/ReplaceText
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ReplaceText
	branch = REL1_39
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
	branch = REL1_39
[submodule "extensions/SecureLinkFixer"]
	path = extensions/SecureLinkFixer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SecureLinkFixer
	branch = REL1_39
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SpamBlacklist
	branch = REL1_39
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
	branch = REL1_39
[submodule "extensions/TemplateData"]
	path = extensions/TemplateData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateData
	branch = REL1_39
[submodule "extensions/TextExtracts"]
	path = extensions/TextExtracts
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TextExtracts
	branch = REL1_39
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleBlacklist
	branch = REL1_39
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
	branch = REL1_39
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
	branch = REL1_39
[submodule "skins/MinervaNeue"]
	path = skins/MinervaNeue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MinervaNeue
	branch = REL1_39
[submodule "skins/MonoBook"]
	path = skins/MonoBook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MonoBook
	branch = REL1_39
[submodule "skins/Timeless"]
	path = skins/Timeless
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Timeless
	branch = REL1_39
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Vector
	branch = REL1_39
[submodule "vendor"]
	path = vendor
	url = https://gerrit.wikimedia.org/r/mediawiki/vendor
	branch = REL1_39
[submodule "extensions/AdvancedSearch"]
	path = extensions/AdvancedSearch
	url = https://github.com/wikimedia/mediawiki-extensions-AdvancedSearch
[submodule "extensions/Auth_remoteuser"]
	path = extensions/Auth_remoteuser
	url = https://github.com/wikimedia/mediawiki-extensions-Auth_remoteuser
[submodule "extensions/CirrusSearch"]
	path = extensions/CirrusSearch
	url = https://github.com/wikimedia/mediawiki-extensions-CirrusSearch
[submodule "extensions/cldr"]
	path = extensions/cldr
	url = https://github.com/wikimedia/mediawiki-extensions-cldr
[submodule "extensions/CodeMirror"]
	path = extensions/CodeMirror
	url = https://github.com/wikimedia/mediawiki-extensions-CodeMirror
[submodule "extensions/ConfirmAccount"]
	path = extensions/ConfirmAccount
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmAccount
[submodule "extensions/DeleteBatch"]
	path = extensions/DeleteBatch
	url = https://github.com/wikimedia/mediawiki-extensions-DeleteBatch
[submodule "extensions/DismissableSiteNotice"]
	path = extensions/DismissableSiteNotice
	url = https://github.com/wikimedia/mediawiki-extensions-DismissableSiteNotice
[submodule "extensions/Echo"]
	path = extensions/Echo
	url = https://github.com/wikimedia/mediawiki-extensions-Echo
[submodule "extensions/Elastica"]
	path = extensions/Elastica
	url = https://github.com/wikimedia/mediawiki-extensions-Elastica
[submodule "extensions/EntitySchema"]
	path = extensions/EntitySchema
	url = https://github.com/wikimedia/mediawiki-extensions-EntitySchema
[submodule "extensions/Graph"]
	path = extensions/Graph
	url = https://github.com/wikimedia/mediawiki-extensions-Graph
[submodule "extensions/InviteSignup"]
	path = extensions/InviteSignup
	url = https://github.com/wikimedia/mediawiki-extensions-InviteSignup
[submodule "extensions/JsonConfig"]
	path = extensions/JsonConfig
	url = https://github.com/wikimedia/mediawiki-extensions-JsonConfig
[submodule "extensions/Kartographer"]
	path = extensions/Kartographer
	url = https://github.com/wikimedia/mediawiki-extensions-Kartographer
[submodule "extensions/Mailgun"]
	path = extensions/Mailgun
	url = https://github.com/wikimedia/mediawiki-extensions-Mailgun
[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = https://github.com/wikimedia/mediawiki-extensions-MobileFrontend
[submodule "extensions/OAuth"]
	path = extensions/OAuth
	url = https://github.com/wikimedia/mediawiki-extensions-OAuth
[submodule "extensions/RevisionSlider"]
	path = extensions/RevisionSlider
	url = https://github.com/wikimedia/mediawiki-extensions-RevisionSlider
[submodule "extensions/Score"]
	path = extensions/Score
	url = https://github.com/wikimedia/mediawiki-extensions-Score
[submodule "extensions/StopForumSpam"]
	path = extensions/StopForumSpam
	url = https://github.com/wikimedia/mediawiki-extensions-StopForumSpam
[submodule "extensions/TemplateSandbox"]
	path = extensions/TemplateSandbox
	url = https://github.com/wikimedia/mediawiki-extensions-TemplateSandbox
[submodule "extensions/Thanks"]
	path = extensions/Thanks
	url = https://github.com/wikimedia/mediawiki-extensions-Thanks
[submodule "extensions/TorBlock"]
	path = extensions/TorBlock
	url = https://github.com/wikimedia/mediawiki-extensions-TorBlock
[submodule "extensions/TwoColConflict"]
	path = extensions/TwoColConflict
	url = https://github.com/wikimedia/mediawiki-extensions-TwoColConflict
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector
[submodule "extensions/Wikibase"]
	path = extensions/Wikibase
	url = https://github.com/wikimedia/mediawiki-extensions-Wikibase
[submodule "extensions/WikibaseCirrusSearch"]
	path = extensions/WikibaseCirrusSearch
	url = https://github.com/wikimedia/mediawiki-extensions-WikibaseCirrusSearch
[submodule "extensions/WikibaseLexeme"]
	path = extensions/WikibaseLexeme
	url = https://github.com/wikimedia/mediawiki-extensions-WikibaseLexeme
[submodule "extensions/WikibaseLexemeCirrusSearch"]
	path = extensions/WikibaseLexemeCirrusSearch
	url = https://github.com/wikimedia/mediawiki-extensions-WikibaseLexemeCirrusSearch
[submodule "extensions/WikibaseManifest"]
	path = extensions/WikibaseManifest
	url = https://github.com/wikimedia/mediawiki-extensions-WikibaseManifest
[submodule "extensions/WikiHiero"]
	path = extensions/WikiHiero
	url = https://github.com/wikimedia/mediawiki-extensions-WikiHiero
[submodule "extensions/WikibaseInWikitext"]
	path = extensions/WikibaseInWikitext
	url = https://github.com/wbstack/mediawiki-extensions-WikibaseInWikitext
[submodule "extensions/WikibaseExampleData"]
	path = extensions/WikibaseExampleData
	url = https://github.com/wmde/WikibaseExampleData
[submodule "extensions/WikibaseEdtf"]
	path = extensions/WikibaseEdtf
	url = https://github.com/ProfessionalWiki/WikibaseEdtf
[submodule "extensions/ThatSrc"]
	path = extensions/ThatSrc
	url = https://github.com/nyurik/ThatSrc
